/* Stil general */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff, #d7e8ba); /* Alb și verde pastel */
    color: #2b2b2b; /* Gri închis */
    font-family: 'Nunito', sans-serif;
    overflow: hidden; /* Previne scroll-ul */
}

/* Container pentru fulgii de zăpadă */
#snowEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

/* Stil pentru fiecare fulg */
.snowflake {
    position: absolute;
    top: -10%;
    color: white;
    user-select: none;
    pointer-events: none;
    animation: fall infinite linear;
}

/* Animație pentru cădere */
@keyframes fall {
    0% { transform: translateY(-10%); }
    100% { transform: translateY(110vh); }
}
